AF Desktop Application WCF/Service References/AFServiceReference/AFService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/AFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/AFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/AFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AF.Common.DTO" />
      <xsd:import schemaLocation="https://localhost:44300/AFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AF.Common.Requests" />
      <xsd:import schemaLocation="https://localhost:44300/AFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AF.Common.Queries" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAFService_AddAward_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateAward_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAward_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchAwards_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAwards" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchAwards_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAwardsResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddFestival_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFestival" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddFestival_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFestivalResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateFestival_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFestival" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateFestival_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFestivalResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetFestival_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFestival" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetFestival_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFestivalResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetFestivalsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFestivalsPaged" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetFestivalsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFestivalsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_CountFestivals_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFestivals" />
  </wsdl:message>
  <wsdl:message name="IAFService_CountFestivals_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFestivalsResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobs" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlay" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdatePlay_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlay" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdatePlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlay" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchPlays_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlays" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchPlays_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlaysResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPlayTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayTitle" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPlayTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchPlaysTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlaysTitles" />
  </wsdl:message>
  <wsdl:message name="IAFService_SearchPlaysTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlaysTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdatePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdatePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPositions" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationFestivalPersonPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationFestivalPersonPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationFestivalPersonPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationFestivalPersonPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationFestivalPersonPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationFestivalPersonPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationFestivalPersonPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationFestivalPersonPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationFestivalPersonPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationFestivalPersonPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationFestivalPersonPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationFestivalPersonPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationFestivalPersonPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationFestivalPersonPosition" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationFestivalPersonPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationFestivalPersonPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonAward_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonAward_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonAward_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonAward_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonAward" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonAward_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonAwardResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonPlayJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonPlayJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonPlayJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonPlayJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonPlayJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonPlayJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonPlayJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonPlayJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonPlayJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonPlayJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonPlayJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonPlayJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonPlayJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonPlayJob" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonPlayJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonPlayJobResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonPlayRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonPlayRole" />
  </wsdl:message>
  <wsdl:message name="IAFService_AddRelationPersonPlayRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationPersonPlayRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonPlayRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonPlayRole" />
  </wsdl:message>
  <wsdl:message name="IAFService_RemoveRelationPersonPlayRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationPersonPlayRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonPlayRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonPlayRole" />
  </wsdl:message>
  <wsdl:message name="IAFService_UpdateRelationPersonPlayRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRelationPersonPlayRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonPlayRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonPlayRole" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetRelationPersonPlayRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationPersonPlayRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAFService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAFService">
    <wsdl:operation name="AddAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddAward" message="tns:IAFService_AddAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddAwardResponse" message="tns:IAFService_AddAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateAward" message="tns:IAFService_UpdateAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateAwardResponse" message="tns:IAFService_UpdateAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetAward" message="tns:IAFService_GetAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetAwardResponse" message="tns:IAFService_GetAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAwards">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/SearchAwards" message="tns:IAFService_SearchAwards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/SearchAwardsResponse" message="tns:IAFService_SearchAwards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddCategory" message="tns:IAFService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddCategoryResponse" message="tns:IAFService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateCategory" message="tns:IAFService_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateCategoryResponse" message="tns:IAFService_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetCategory" message="tns:IAFService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetCategoryResponse" message="tns:IAFService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetAllCategories" message="tns:IAFService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetAllCategoriesResponse" message="tns:IAFService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFestival">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddFestival" message="tns:IAFService_AddFestival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddFestivalResponse" message="tns:IAFService_AddFestival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFestival">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateFestival" message="tns:IAFService_UpdateFestival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateFestivalResponse" message="tns:IAFService_UpdateFestival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFestival">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetFestival" message="tns:IAFService_GetFestival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetFestivalResponse" message="tns:IAFService_GetFestival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFestivalsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetFestivalsPaged" message="tns:IAFService_GetFestivalsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetFestivalsPagedResponse" message="tns:IAFService_GetFestivalsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFestivals">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/CountFestivals" message="tns:IAFService_CountFestivals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/CountFestivalsResponse" message="tns:IAFService_CountFestivals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddJob" message="tns:IAFService_AddJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddJobResponse" message="tns:IAFService_AddJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateJob" message="tns:IAFService_UpdateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateJobResponse" message="tns:IAFService_UpdateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetJob" message="tns:IAFService_GetJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetJobResponse" message="tns:IAFService_GetJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetAllJobs" message="tns:IAFService_GetAllJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetAllJobsResponse" message="tns:IAFService_GetAllJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddPlay" message="tns:IAFService_AddPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddPlayResponse" message="tns:IAFService_AddPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdatePlay" message="tns:IAFService_UpdatePlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdatePlayResponse" message="tns:IAFService_UpdatePlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetPlay" message="tns:IAFService_GetPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetPlayResponse" message="tns:IAFService_GetPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPlays">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/SearchPlays" message="tns:IAFService_SearchPlays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/SearchPlaysResponse" message="tns:IAFService_SearchPlays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetPlayTitle" message="tns:IAFService_GetPlayTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetPlayTitleResponse" message="tns:IAFService_GetPlayTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPlaysTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/SearchPlaysTitles" message="tns:IAFService_SearchPlaysTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/SearchPlaysTitlesResponse" message="tns:IAFService_SearchPlaysTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddPosition" message="tns:IAFService_AddPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddPositionResponse" message="tns:IAFService_AddPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdatePosition" message="tns:IAFService_UpdatePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdatePositionResponse" message="tns:IAFService_UpdatePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetPosition" message="tns:IAFService_GetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetPositionResponse" message="tns:IAFService_GetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetAllPositions" message="tns:IAFService_GetAllPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetAllPositionsResponse" message="tns:IAFService_GetAllPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelationFestivalPersonPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddRelationFestivalPersonPosition" message="tns:IAFService_AddRelationFestivalPersonPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddRelationFestivalPersonPositionResponse" message="tns:IAFService_AddRelationFestivalPersonPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationFestivalPersonPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/RemoveRelationFestivalPersonPosition" message="tns:IAFService_RemoveRelationFestivalPersonPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/RemoveRelationFestivalPersonPositionResponse" message="tns:IAFService_RemoveRelationFestivalPersonPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationFestivalPersonPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateRelationFestivalPersonPosition" message="tns:IAFService_UpdateRelationFestivalPersonPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateRelationFestivalPersonPositionResponse" message="tns:IAFService_UpdateRelationFestivalPersonPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationFestivalPersonPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetRelationFestivalPersonPosition" message="tns:IAFService_GetRelationFestivalPersonPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetRelationFestivalPersonPositionResponse" message="tns:IAFService_GetRelationFestivalPersonPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonAward" message="tns:IAFService_AddRelationPersonAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonAwardResponse" message="tns:IAFService_AddRelationPersonAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonAward" message="tns:IAFService_RemoveRelationPersonAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonAwardResponse" message="tns:IAFService_RemoveRelationPersonAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonAward" message="tns:IAFService_UpdateRelationPersonAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonAwardResponse" message="tns:IAFService_UpdateRelationPersonAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonAward">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonAward" message="tns:IAFService_GetRelationPersonAward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonAwardResponse" message="tns:IAFService_GetRelationPersonAward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonPlayJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonPlayJob" message="tns:IAFService_AddRelationPersonPlayJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonPlayJobResponse" message="tns:IAFService_AddRelationPersonPlayJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonPlayJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonPlayJob" message="tns:IAFService_RemoveRelationPersonPlayJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonPlayJobResponse" message="tns:IAFService_RemoveRelationPersonPlayJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonPlayJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonPlayJob" message="tns:IAFService_UpdateRelationPersonPlayJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonPlayJobResponse" message="tns:IAFService_UpdateRelationPersonPlayJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonPlayJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonPlayJob" message="tns:IAFService_GetRelationPersonPlayJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonPlayJobResponse" message="tns:IAFService_GetRelationPersonPlayJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonPlayRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonPlayRole" message="tns:IAFService_AddRelationPersonPlayRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/AddRelationPersonPlayRoleResponse" message="tns:IAFService_AddRelationPersonPlayRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonPlayRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonPlayRole" message="tns:IAFService_RemoveRelationPersonPlayRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/RemoveRelationPersonPlayRoleResponse" message="tns:IAFService_RemoveRelationPersonPlayRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonPlayRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonPlayRole" message="tns:IAFService_UpdateRelationPersonPlayRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/UpdateRelationPersonPlayRoleResponse" message="tns:IAFService_UpdateRelationPersonPlayRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonPlayRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonPlayRole" message="tns:IAFService_GetRelationPersonPlayRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetRelationPersonPlayRoleResponse" message="tns:IAFService_GetRelationPersonPlayRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetUser" message="tns:IAFService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetUserResponse" message="tns:IAFService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAFService/GetAllUsers" message="tns:IAFService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAFService/GetAllUsersResponse" message="tns:IAFService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAFService" type="tns:IAFService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAFService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAwards">
      <soap12:operation soapAction="http://tempuri.org/IAFService/SearchAwards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFestival">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddFestival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFestival">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateFestival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFestival">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetFestival" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFestivalsPaged">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetFestivalsPaged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFestivals">
      <soap12:operation soapAction="http://tempuri.org/IAFService/CountFestivals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobs">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetAllJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlay">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlay">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdatePlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlay">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPlays">
      <soap12:operation soapAction="http://tempuri.org/IAFService/SearchPlays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayTitle">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetPlayTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPlaysTitles">
      <soap12:operation soapAction="http://tempuri.org/IAFService/SearchPlaysTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdatePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPositions">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetAllPositions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelationFestivalPersonPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddRelationFestivalPersonPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationFestivalPersonPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/RemoveRelationFestivalPersonPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationFestivalPersonPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateRelationFestivalPersonPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationFestivalPersonPosition">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetRelationFestivalPersonPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddRelationPersonAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/RemoveRelationPersonAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateRelationPersonAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonAward">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetRelationPersonAward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonPlayJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddRelationPersonPlayJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonPlayJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/RemoveRelationPersonPlayJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonPlayJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateRelationPersonPlayJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonPlayJob">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetRelationPersonPlayJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelationPersonPlayRole">
      <soap12:operation soapAction="http://tempuri.org/IAFService/AddRelationPersonPlayRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelationPersonPlayRole">
      <soap12:operation soapAction="http://tempuri.org/IAFService/RemoveRelationPersonPlayRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelationPersonPlayRole">
      <soap12:operation soapAction="http://tempuri.org/IAFService/UpdateRelationPersonPlayRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationPersonPlayRole">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetRelationPersonPlayRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IAFService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AFService">
    <wsdl:port name="WSHttpBinding_IAFService" binding="tns:WSHttpBinding_IAFService">
      <soap12:address location="https://localhost:44300/AFService.svc/AFService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44300/AFService.svc/AFService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>