AF Desktop Application WCF/Service References/AFServiceReference/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/AFService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AF.Common.DTO" />
  <xs:import schemaLocation="https://localhost:44300/AFService.svc/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AF.Common.Requests" />
  <xs:import schemaLocation="https://localhost:44300/AFService.svc/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AF.Common.Queries" />
  <xs:element name="AddAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newAward" nillable="true" type="q1:AwardDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddAwardResult" nillable="true" type="q2:SingleItemResponseOfAwardDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q3:AwardDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateAwardResult" nillable="true" type="q4:SingleItemResponseOfAwardDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetAwardResult" nillable="true" type="q5:SingleItemResponseOfAwardDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAwards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AF.Common.Queries" minOccurs="0" name="criteria" nillable="true" type="q6:AwardsSearchingCriteria" />
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
        <xs:element minOccurs="0" name="pageAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAwardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="SearchAwardsResult" nillable="true" type="q7:ListResponseOfAwardMixedDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newCategory" nillable="true" type="q8:CategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddCategoryResult" nillable="true" type="q9:SingleItemResponseOfCategoryDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q10:CategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateCategoryResult" nillable="true" type="q11:SingleItemResponseOfCategoryDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetCategoryResult" nillable="true" type="q12:SingleItemResponseOfCategoryDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q13:ListResponseOfCategoryDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newFestival" nillable="true" type="q14:FestivalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFestivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddFestivalResult" nillable="true" type="q15:SingleItemResponseOfFestivalDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q16:FestivalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFestivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateFestivalResult" nillable="true" type="q17:SingleItemResponseOfFestivalDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetFestivalResult" nillable="true" type="q18:SingleItemResponseOfFestivalDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
        <xs:element minOccurs="0" name="pageAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetFestivalsPagedResult" nillable="true" type="q19:ListResponseOfFestivalDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newJob" nillable="true" type="q20:JobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddJobResult" nillable="true" type="q21:SingleItemResponseOfJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q22:JobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateJobResult" nillable="true" type="q23:SingleItemResponseOfJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetJobResult" nillable="true" type="q24:SingleItemResponseOfJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetAllJobsResult" nillable="true" type="q25:ListResponseOfJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newPlay" nillable="true" type="q26:PlayDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddPlayResult" nillable="true" type="q27:SingleItemResponseOfPlayDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q28:PlayDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdatePlayResult" nillable="true" type="q29:SingleItemResponseOfPlayDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetPlayResult" nillable="true" type="q30:SingleItemResponseOfPlayDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPlays">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AF.Common.Queries" minOccurs="0" name="criteria" nillable="true" type="q31:PlaysSearchingCriteria" />
        <xs:element minOccurs="0" name="pageNr" type="xs:int" />
        <xs:element minOccurs="0" name="pageAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPlaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="SearchPlaysResult" nillable="true" type="q32:ListResponseOfPlayDataDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newPosition" nillable="true" type="q33:PositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddPositionResult" nillable="true" type="q34:SingleItemResponseOfPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q35:PositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdatePositionResult" nillable="true" type="q36:SingleItemResponseOfPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetPositionResult" nillable="true" type="q37:SingleItemResponseOfPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetAllPositionsResult" nillable="true" type="q38:ListResponseOfPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationFestivalPersonPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newRelationFestivalPersonPosition" nillable="true" type="q39:RelationFestivalPersonPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationFestivalPersonPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddRelationFestivalPersonPositionResult" nillable="true" type="q40:SingleItemResponseOfRelationFestivalPersonPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationFestivalPersonPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationFestivalPersonPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="RemoveRelationFestivalPersonPositionResult" nillable="true" type="q41:SingleItemResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationFestivalPersonPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q42:RelationFestivalPersonPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationFestivalPersonPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateRelationFestivalPersonPositionResult" nillable="true" type="q43:SingleItemResponseOfRelationFestivalPersonPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationFestivalPersonPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationFestivalPersonPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetRelationFestivalPersonPositionResult" nillable="true" type="q44:SingleItemResponseOfRelationFestivalPersonPositionDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newRelationPersonAward" nillable="true" type="q45:RelationPersonAwardDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddRelationPersonAwardResult" nillable="true" type="q46:SingleItemResponseOfRelationPersonAwardDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="RemoveRelationPersonAwardResult" nillable="true" type="q47:SingleItemResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q48:RelationPersonAwardDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateRelationPersonAwardResult" nillable="true" type="q49:SingleItemResponseOfRelationPersonAwardDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetRelationPersonAwardResult" nillable="true" type="q50:SingleItemResponseOfRelationPersonAwardDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonPlayJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newRelationPersonPlayJob" nillable="true" type="q51:RelationPersonPlayJobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonPlayJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddRelationPersonPlayJobResult" nillable="true" type="q52:SingleItemResponseOfRelationPersonPlayJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonPlayJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonPlayJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="RemoveRelationPersonPlayJobResult" nillable="true" type="q53:SingleItemResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonPlayJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q54:RelationPersonPlayJobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonPlayJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateRelationPersonPlayJobResult" nillable="true" type="q55:SingleItemResponseOfRelationPersonPlayJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonPlayJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonPlayJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetRelationPersonPlayJobResult" nillable="true" type="q56:SingleItemResponseOfRelationPersonPlayJobDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonPlayRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="newRelationPersonPlayRole" nillable="true" type="q57:RelationPersonPlayRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationPersonPlayRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="AddRelationPersonPlayRoleResult" nillable="true" type="q58:SingleItemResponseOfRelationPersonPlayRoleDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonPlayRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationPersonPlayRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="RemoveRelationPersonPlayRoleResult" nillable="true" type="q59:SingleItemResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonPlayRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AF.Common.DTO" minOccurs="0" name="updateData" nillable="true" type="q60:RelationPersonPlayRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRelationPersonPlayRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="UpdateRelationPersonPlayRoleResult" nillable="true" type="q61:SingleItemResponseOfRelationPersonPlayRoleDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonPlayRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationPersonPlayRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetRelationPersonPlayRoleResult" nillable="true" type="q62:SingleItemResponseOfRelationPersonPlayRoleDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetUserResult" nillable="true" type="q63:SingleItemResponseOfUserDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AF.Common.Requests" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q64:ListResponseOfUserDTO3eQi8U0z" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>