AF Desktop Application WCF/Service References/AFServiceReference/mex4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AF.Common.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AF.Common.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/AFService.svc/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AF.Common.Requests" />
  <xs:complexType name="AwardsSearchingCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AF.Common.Requests" base="q1:QueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryIdFilter" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FestivalIdFilter" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AwardsSearchingCriteria" nillable="true" type="tns:AwardsSearchingCriteria" />
  <xs:complexType name="PlaysSearchingCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/AF.Common.Requests" base="q2:QueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryIdFilter" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FestivalIdFilter" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Motto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlaysSearchingCriteria" nillable="true" type="tns:PlaysSearchingCriteria" />
</xs:schema>